# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Virtual env
.venv/
venv/
env/

# Logs & runtime data
logs/
reports/
*.log
*.tmp

# OS junk
.DS_Store

# Editor
.vscode/
.idea/

# Build
*.egg-info/
dist/
build/

# Archives
*.zip
*.tar
*.gz

# Environment
.env