annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
click==8.3.2
fastapi==0.136.0
h11==0.16.0
idna==3.11
-e git+https://github.com/parthrohit22/kalyx.git@7d131aa8a2d91ccf1358beea07488e823c28aae8#egg=kalyx
pydantic==2.13.3
pydantic_core==2.46.3
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.44.0
